.repairForm-container {
    margin-top: 1%;
    margin-left: 20%;
    margin-bottom: 5%;
    
}

.firstForm{
    /* background-color: darkblue; */
    /* border: 1px solid black; */
    font-size: 15px;
    margin-left: 3%;
    margin-right: 2%;
    margin-bottom: 5%;
}
.firstForm .formNoti {
    margin-top: 1%;
    margin-left: 5%;
    max-width : 100%;
    text-align: center;
}