 .outside-card {
    margin-top: 4%;
    margin-left: 5%;
    width: 90%;
} 
/* .text .text-p {
    margin-left: 12%;
    font-size: 2.05em !important;
} */
.my-stepper-01 {
    height : 40%;
    margin-bottom : 20px;

}