.show-select {
  width: 3px;
}

.no-spacing {
  table-layout: fixed;
  width: 375px;
  border-spacing: 2px; /* Removes the cell spacing via CSS */
  border-collapse: collapse; /* Optional - if you don't want to have double border where cells touch */
  /* padding: 0 !important; */
  /* border: 1px solid black; */
  word-wrap:break-word;
}

.text-pruple {
  color: purple;
}

.mytable table tr {
  border-bottom: medium solid rgba(128,0,128,0.2);
  border-spacing: 0;
}

.v-data-table .v-data-table-header tr th {
  font-size: 1rem !important;
  text-align: center !important;
  padding: 0 !important;

  margin: 0 !important;
  white-space: nowrap;
}

.mytable tbody td{
  padding: 0 !important;
  margin: 0 !important;
  /* font-size: 1.2rem !important; */
}

.theme--light.v-icon {
  color: purple !important;
}
/* .pdf_td {
    min-width: 350px;
  } */

/* .html2pdf__page-break {
    margin: 0 ;
    margin-top: 20px !important;
 } */

.paddingBetweenRows td
{
    padding:5px 5px 5px 5px;
    vertical-align:top;
    word-wrap:break-word;
}

/* .paddingBetweenRows table, th, td, tr
{
  border: 1px solid black;
} */

.wrap {
  border-spacing: 3px;
  /* max-width: 150px; */
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

.text-right {
  text-align: right;
}