.show-select {
  width: 5px;
}

table.no-spacing {
  border-spacing: 0; /* Removes the cell spacing via CSS */
  border-collapse: collapse; /* Optional - if you don't want to have double border where cells touch */
}

.text-pruple {
  color: purple;
}

.mytable table tr {
  border-bottom: medium solid rgba(128,0,128,0.2);
  border-spacing: 0 0.5rem;
}

.theme--light.v-icon {
  color: purple !important;
}
/* .pdf_td {
    min-width: 350px;
  } */

/* .html2pdf__page-break {
    margin: 0 ;
    margin-top: 20px !important;
 } */
