table.v-table { border-collapse:collapse }
/* 
.label-checkbox {
    margin-right: 0.5rem;
    margin-left: auto;
    border: 1px solid #4273DE;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 5px 5px;
    text-align: center;
    display: inline-block;

    line-height: auto;
    color: #4273DE;
  } */

/* .font-checkbox{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
} */

.v-text-field-password{
  width: 80%;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.centered-input input {
  text-align: center;
}

.center {
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.mytable table tr {
  border-bottom: medium solid rgba(128,0,128,0.2);
  border-spacing: 0 0.5rem;
}

.theme--light.v-icon {
  color: purple !important;
}
  